# backups and backup dirs
*.old

# random shit, most of it probably has nothing to do with the project,
# but sometimes I need somewhere to store some output or something idk
.etc/
python/
modules/
ranger/

__pycache__/
.pytest/

.netrwhist

docs/stuff/*
legacy/
node_modules/

.vimdebug
package-lock.json
*~ 

tags
