
# i3blocks configuration file
#
# The i3blocks man page describes the usage of the binary,
# and its website describes the configuration:
#
#     https://vivien.github.io/i3blocks


# Global properties
separator=true
separator_block_width=35

# [memory]
# _memcmd=$(free | ack '((\d+)\s+){3}(\d+).*$' --output='$1') / 328256.56
# _mem=printf "$_memcmd" | bc
# command=printf "$(echo 'scale=2;$_memcmd;"
# interval=1

[time]
# $(date '+%h:%m:%s')
command=echo -e "\uf017 $(date '+%H:%M:%S')"
interval=1
color=#80f0f0

[date]
command=date '+%Y-%m-%d'
interval=10
color=#a0a0a0
